.qr-wrapper {
  display: flex;
  height: 100%;
  margin-top: 150px;
  justify-content: center;
  .qr-wrapper-content{
    position: relative;
    display: flex;
    width: 644px;
    height: 626px;
    background: linear-gradient(135deg, #F6FFD4 0%, #AAF2FF 100%);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: var(--color-grey-0);
  }
  .qrcode-image-wrap{
    width: 301px;
    height: 301px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 24px;
  }
  .qrcode-image{
    width: 258px;
    height: 258px;
  }
  .qrcode-desc{
    width: 500px;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    margin-top: 20px;
  }
  .qrcode-subtitle{
    color: var(--color-grey-0);
    font-size: 26px;
    padding: 0 45px;
    width: 100%;
  }
  .clear-btn{
    position: absolute;
    bottom: -150px;
  }
}


