page{
  background: #fff;
}
.chcecklist-wrap{
  border-top: 1px solid var(--color-grey-3);
  padding-bottom: 180px;
  .checklist-item{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-grey-3);
    padding: 34px 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .checklist-item-time{
      font-size: 28px;
      color: var(--color-grey-1);
    }
    .checklist-item-content{
      display: flex;
      gap: 8px;
      align-items: center;
      .checklist-item-content-main{
        font-size: 32px;
        font-weight: 500;
      }
      .checklist-item-content-remark{
        margin-right: 10px;
        color: var(--color-grey-1);
        font-size: 28px;
        vertical-align: text-bottom;
        display: flex;
        align-items: flex-end;
      }
    }
    .checklist-item-status{
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 28px;
      color: var(--color-grey-1);
      &.error{
        color: var(--color-error);
      }
      &.warn{
        color: #FF953F;
      }
      &.success{
        color: #37C758;
      }
    }
  }
}
.foot-btn{
  border-radius: 16px;
  font-size: 36px;
}

.bg-bottom{
  display: flex;
  align-items: center;
  padding: 50px 94px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  .bg-bottom-btn{
    flex: 1;
  }
}
.kq-input-wrap{
  display: flex;
  margin: 50px 0;
  .kq-input{
    width: 317px;
    height: 83px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #DEDEDE;
  }
  .kq-danwei{
    width: 112px;
    height: 85px;
    background: #EAECEE;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #DEDEDE;
    line-height: 85px;
    text-align: center;
  }
}