page{
  padding: 0 20px 200px 20px;
}
.realname-wrap{
  background: #fff;
  margin-top: 20px;
  padding: 30px 20px;
  font-size: 28px;
}
.upload-tit{
  margin-bottom: 30px;
}
.upload-wrap{
  display: flex;
  gap: 30px;
  .upload-item{
    flex: 1;
    .upload-handle{
      width: 100%;
      margin-bottom: 10px;
    }
    .upload-txt{
      text-align: center;
    }
  }
}
.realname-bottom{
  display: flex;
  gap: 50px;
  align-items: center;
  background: #fff;
  padding: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  left: 0;
  .realname-bottom-btn{
    flex: 1;
  }
}
.nut-uploader__upload {
  width: 100%;
}
.nut-radiogroup--horizontal .nut-radio {
  display: inline-flex;
  margin-right: 10px;
  &:last-child{
    margin-bottom: 0;
  }
}
.nut-radio__button {
  // padding: 0 8px;
  margin-bottom: 5px;
}
.p10{
  padding: 10px;
}
.nut-icon::before{
  font-size: 20px;
}