.taskcell-wrap{
  background: #fff;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 20px;
  .taskcell-top{
    border-bottom: 1px solid #efefef;
    padding: 15px;
    margin-bottom: 15px;
    .taskcell-top-title{
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      .taskcell-top-left{
        font-size: 40px;
      }
      .taskcell-top-right{
        font-size: 30px;
      }
    }
    .taskcell-time{
      color: #ccc;
      font-size: 26px;
      margin-top: 10px;
    }
  }
  .taskcell-bot{
    .taskcell-bot-list{
      display: flex;
      .taskcell-bot-item{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .taskcell-bot-item-top{
          margin-bottom: 5px;
        }
        .taskcell-bot-item-bottom{
          color: #ccc;
          font-size: 28px;
        }
      }
    }
  }
}